<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705180594586-9ee9lq474f21daokk1uhahpd8piognij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705180594586-9ee9lq474f21daokk1uhahpd8piognij</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWeZ2fZR4zLlQLdfk20BnxllAA7CHki0</string>
	<key>GCM_SENDER_ID</key>
	<string>705180594586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirestoreExample</string>
	<key>PROJECT_ID</key>
	<string>flutterfirestore-d43c3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirestore-d43c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705180594586:ios:b0a37acc3e20ce61a34a23</string>
</dict>
</plist>